
:root {
  
  --light-blue: #F5F6FA;
  
}

body {
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  width: 100%;
overflow-y: scroll;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background:#ff9100;
}



.text-muted {
  
  opacity: .7;
}



.bg-light-blue {
  background-color: var(--light-blue) !important;
}

.shadow-sm {
  box-shadow: 0 0 1.25rem rgba(11,37,75,.05);
}

.shadow-hover {
  transition: 1s ease-in-out;
}

.shadow-hover:hover {
  transition: 1s ease-in-out;
  box-shadow: 0 .5rem 1rem rgba(11,37,75,.10)!important;
}

#sidebar-container {
  min-height: 100vh;
  margin-left: -18rem;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.1);
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-container .logo{
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

#content-wrapper.toggled #sidebar-container {
  margin-left: 0;
}

.circle {
  width: 50px;
  height: 50px;
}
.card-elec{
    box-shadow: 0 1px 1px gray, 0 1px 1px rgba(0, 123, 255, .1);
}

.badge {
  padding: .5rem 1rem;
}

.bg-primary, .badge-primary {
  background-color: rgba(0, 123, 255, .1) !important;
}

.avatar {
  max-width: 35px;
}

.btn-primary {
  background-color: rgba(0, 123, 255, .1) !important;
  border: 0;
}

.btn-success:hover {
  color: white;
  background-color: rgba(0, 255, 98, 0.2) !important;
}



#content {
  
  height: 100vh;
}

table {
  border-collapse: separate;
  border-spacing: 0 .5rem;
}

table thead th {
  border: 0 !important;
}

table tbody tr {
  background-color: var(--light);
}

table tbody td {
  border-top: 0 !important;
  line-height: 1.2;
}


@media (min-width: 768px) {
  #sidebar-container {
    margin-left: 0;
  }
  #content-wrapper.toggled #sidebar-container {
    margin-left: -18rem;
  }
}
#preview{
  width:80% ;
  height: 100%;
  max-height: 100%;
}
#preview img{

  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    #preview img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}