body{
    background-color: #F5F6FA !important;
    height: 100vh;
    overflow: hidden;
}

.col-md-6{
  
  
  top: 8em ;
}
.form-container{
    background: white;
    padding: 35px;
    
    border-radius:25px ;
     box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.23);
}
.form-container h3{
    padding: 0 0 18px 0;
    text-align: center;
    margin-bottom: 10px;
    
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.inputWithIcon input[type=text]{

padding-left: 30px;

}
.inputWithIcon input[type=password]{

padding-left: 30px;

}
.inputWithIcon{
  position: relative;
  height: 40px;
}
.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 35px;
  padding: 9px 8px;

}
.inputWithIcon input:focus + i{
  color:green;
}
.btnGreen:hover{
  background-color: white;
  color: green;

}